<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Spring Security OAuth2 Authorization Redirect</title>
</head>
<body>
<h2>Client Name :  <span th:text="${client_name}"/></h2>
<h2>principal_name : <span th:text="${principal_name}"/></h2>
<h2>principal_preferred_username : <span th:text="${principal_preferred_username}"/></h2>
<h2>user_name : <span th:text="${user_name}"/></h2>
<p>id_token : <span th:text="${id_token}"/></p>
<p>access_token : <span th:text="${access_token}"/></p>
<div>
    <h2> Scopes :</h2>
    <ul>
        <li th:each="scope : ${scopes}"><span th:text="${scope}"></span>
        </li>
    </ul>
</div>

</body>
</html>